<div class="galleryDiv">
  <li class='gallery-up'>
    <div class="" ng-if="!galleryItemCtrl.showEditGallery">
      <h3> {{ galleryUpCtrl.gallery.name }}</h3>
    </div>

    <div class="">
      <span> {{ galleryUpCtrl.gallery.desc }}</span>
    </div>

    <edit-gallery ng-if='galleryUpCtrl.showEditGallery' gallery="galleryUpCtrl.gallery"></edit-gallery>

    <button ng-click="galleryItemCtrl.showEditGallery=!galleryItemCtrl.showEditGallery" type="button" name="edit">Edit</button>
    <button ng-click="galleryItemCtrl.deleteGallery()" type="button" name="delete">Delete</button>
  </li>


  <thumbnail-container gallery="galleryUpCtrl.gallery"></thumbnail-container>

</div>
